<div class="main-about">
  <div class="container">
    <div class="text-div">
      <h1>About us</h1>
      <hr />
      <p [innerHTML]="about"></p>
    </div>
  </div>
  <div class="display-watch">
    <div class="watches-brands">
      <div>
        <img src="../../../assets/images/casio.png" alt="" />
      </div>
      <div><img src="../../../assets/images/hublot.png" alt="" /></div>
      <div><img src="../../../assets/images/seiko.png" alt="" /></div>
      <div><img src="../../../assets/images/richard.png" alt="" /></div>
    </div>
  </div>
</div>
