<div class="main-footer">
  <div class="flex-main">
    <div class="article-div col-md-3 first-div">
      <h4>TOP BRANDS</h4>

      <li>Rolex</li>
      <li>Patek Philipe</li>
      <li>Richard Mille</li>
      <li>Seiko</li>
      <li>Casio</li>
    </div>
    <div class="article-div col-md-3 second-div">
      <h4>Customer care</h4>

      <li>watchesgrex@gmail.com</li>
      <li>FAQ</li>
      <li>24/7 customer support</li>
    </div>
    <div class="article-div col-md-3 third-div">
      <h4>Us</h4>
      <p>
        Thank you for visiting our watch shop. We offer a wide selection of
        high-quality timepieces from top brands, including classic and modern
        styles to suit every taste. Whether you're looking for a casual everyday
        watch or a luxurious statement piece, we have something for everyone.
        Thank you for your business and we look forward to helping you find the
        perfect watch!
      </p>
    </div>
    <div class="article-div col-md-3">
      <h4>Social</h4>

      <li>Instagram</li>
      <li>Facebook</li>
      <li>Linkedin</li>
      <li>Tiktok</li>
    </div>
  </div>
  <p class="copy">
    Copyright &#169; {{ year }} | GrexWatches All right reserved
  </p>
</div>
