<!-- <div class="main-footer">
  <div class="flex-main">
    <div class="article-div col-md-3 first-div">
      <h4>TOP BRANDS</h4>
      <ul>
        <li>Rolex</li>
        <li>Patek Philipe</li>
        <li>Richard Mille</li>
        <li>Seiko</li>
        <li>Casio</li>
      </ul>
    </div>
    <div class="article-div col-md-3 second-div">
      <h4>Customer care</h4>
      <ul>
        <li>watchesgrex@gmail.com</li>
        <li>FAQ</li>
        <li>24/7 customer support</li>
      </ul>
    </div>
    <div class="article-div col-md-3 third-div">
      <h4>Us</h4>
      <p>
        Thank you for visiting our watch shop. We offer a wide selection of
        high-quality timepieces from top brands, including classic and modern
        styles to suit every taste. Whether you're looking for a casual everyday
        watch or a luxurious statement piece, we have something for everyone.
        Thank you for your business and we look forward to helping you find the
        perfect watch!
      </p>
    </div>
    <div class="article-div col-md-3">
      <h4>Social</h4>
      <ul>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Linkedin</li>
        <li>Tiktok</li>
      </ul>
    </div>
  </div>
  <p class="copy">
    Copyright &#169; {{ year }} | GrexWatches All right reserved
  </p>
</div> -->

<footer class="bg-dark text-center text-lg-start text-white">
  <div class="container p-4">
    <div class="row mt-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="font-f">TOP BRANDS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-book fa-fw fa-sm me-2"></i>Rolex</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-book fa-fw fa-sm me-2"></i>Patek Philipe</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Richard Mille</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Hublot</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="font-f">Customer care</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>FAQ</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-backspace fa-fw fa-sm me-2"></i
              >watchesgrex@gmail.com</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Customer support
              24/7</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="font-f">about us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white" routerLink="about">About</a>
          </li>
          <li>
            <a href="#!" class="text-white">Watch sellers</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="font-f">Socials</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-at fa-fw fa-sm me-2"></i>Instagram</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Facebook</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Tiktok</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Linkedin</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright &#169; {{ year }} | GrexWatches - All right reserved
  </div>
</footer>
