<div class="main-home-div">
  <div class="header-div">
    <div class="txt">
      <h1>
        Elegance on your wrist,<br />
        where style meets function.
      </h1>
      <button>EXPLORE</button>
    </div>
  </div>
  <div class="home-img">
    <img src="../../../assets/images/home-watch.jpg" alt="" />
  </div>
</div>
<!------>
<div class="second-main">
  <div class="flex">
    <div class="image-div col-md-6">
      <img src="../../../assets/images/home-watch-2.jpg" alt="" />
    </div>
    <div class="story col-md-6">
      <h2>Our store</h2>
      <p>
        {{ ourStore }}
      </p>
      <button>ABOUT US</button>
    </div>
  </div>
  <div class="three-displays">
    <h3>Collections</h3>
    <hr />
    <div class="flex-div">
      <div class="mens displayed">
        <div class="image-dive">
          <img src="../../../assets/images/mens.jpg" alt="" />
        </div>
        <div class="name-div">
          <p>Men's watches</p>
        </div>
      </div>
      <div class="womens displayed">
        <div class="image-dive">
          <img src="../../../assets/images/womens.jpg" alt="" />
        </div>
        <div class="name-div">
          <p>Women's watches</p>
        </div>
      </div>
      <div class="luxury displayed">
        <div class="image-dive">
          <img src="../../../assets/images/luxury.jpg" alt="" />
        </div>
        <div class="name-div">
          <p>Luxury watches</p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<!------->
