<div class="watch-preview-main">
  <div class="container">
    <div class="details">
      <div class="flex-divs">
        <div class="image-div">
          <img [src]="watch?.image" alt="" />
        </div>
        <div class="about-the-watch">
          <h3>
            Watches for Men Luxury Skeleton Tonneau Watch for Men Waterproof
            Adjustable Silicone Strap Steampunk Style Chronograph Calendar
          </h3>
          <div class="star-div">
            <div class="flex">
              <img src="../../../../assets/icons/star.svg" alt="" /><img
                src="../../../../assets/icons/star.svg"
                alt=""
              /><img src="../../../../assets/icons/star.svg" alt="" /><img
                src="../../../../assets/icons/star.svg"
                alt=""
              /><img src="../../../../assets/icons/star_half.svg" alt="" />
            </div>
          </div>
          <hr />
          <p class="watch-price">${{ watch?.price }}</p>
          <div class="description">
            <ul>
              <li>
                Mens Watches:Elegant fashion style,fashion bling design and
                chronograph sport style,exactly for a men's watch.This iced out
                diamond classic business and sport style watch will be greatly
                suitable for almost any occasion,outdoor,party and business
                meeting.
              </li>
              <li>
                Fashion Chronograph Watch: Functional chronograph, Stars decored
                bezel, sporty silicone strap watch, the watch is comfortable to
                wear and unique in shape, which can attract everyone's
                attention. This is definitely a watch worth collecting.
              </li>
              <li>
                Details of The MENS Watch: Fashion Men's Quartz analog watch.
                Sword luminous pointers. Functional subdials display second and
                chronograph minutes. Small triangle decorative sub-dial. Hollow
                skeleton puck case. Men's screw design. Crown protective ear.
                Fixed bezel and back cover. Men's standard nylon band.
              </li>
              <li>
                Necessary for a gentleman:Cool mens watch skeleton luminous with
                delicate appearance goes with every occasion be it formal or
                casual. Wear this watch on the go, from business, leisure to
                indoor and outdoor activities or for daily use
              </li>
            </ul>
          </div>
          <hr />
          <div class="buy-btn">
            <button>
              Buy Now&nbsp;&nbsp;<br />
              <img src="../../../../assets/images/amazon.jpg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="product-specs mt-5">
      <h2>Product specifications</h2>
      <h6>Watch information</h6>
      <table class="table table-striped mt-5">
        <tbody>
          <tr>
            <th scope="row">Brand, Seller, or Collection Name</th>
            <td>AIMES</td>
          </tr>
          <tr>
            <th scope="row">Model number</th>
            <td>AMS0420</td>
          </tr>
          <tr>
            <th scope="row">Part number</th>
            <td>AMS0420</td>
          </tr>
          <tr>
            <th scope="row">Item Shape</th>
            <td>Square</td>
          </tr>
          <tr>
            <th scope="row">Display Type</th>
            <td>Analog</td>
          </tr>
          <tr>
            <th scope="row">Clasp</th>
            <td>Tang Buckle</td>
          </tr>
          <tr>
            <th scope="row">Band Material</th>
            <td>Rubber</td>
          </tr>
          <tr>
            <th scope="row">Band width</th>
            <td>26 millimeters</td>
          </tr>
          <tr>
            <th scope="row">Water resistant depth</th>
            <td>30 Meters</td>
          </tr>
          <tr>
            <th scope="row">Band Material</th>
            <td>Rubber</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
