<div class="watch-preview-main">
  <div class="container">
    <div class="details">
      <div class="flex-divs">
        <div class="image-div">
          <img [src]="watch?.image" alt="" />
        </div>
        <div class="about-the-watch">
          <h3>
            {{ watch.name2 }}
          </h3>
          <div class="star-div">
            <div class="flex">
              <img src="../../../../assets/icons/star.svg" alt="" /><img
                src="../../../../assets/icons/star.svg"
                alt=""
              /><img src="../../../../assets/icons/star.svg" alt="" /><img
                src="../../../../assets/icons/star.svg"
                alt=""
              /><img src="../../../../assets/icons/star_half.svg" alt="" />
            </div>
          </div>
          <hr />
          <p class="watch-price">${{ watch?.price }}</p>
          <div class="description">
            <ul>
              <li>
                {{ watch.description1 }}
              </li>
              <li>
                {{ watch.description2 }}
              </li>
              <li>
                {{ watch.description3 }}
              </li>
              <li>
                {{ watch.description4 }}
              </li>
              <li>
                {{ watch.description5 }}
              </li>
            </ul>
          </div>
          <hr />
          <div class="buy-btn">
            <button>
              <a [href]="watch.link">
                Buy Now&nbsp;&nbsp;<br />
                <img src="../../../../assets/images/amazon.jpg" alt=""
              /></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="product-specs mt-5">
      <h2>Product specifications</h2>
      <h6>Watch information</h6>
      <table class="table table-striped mt-5">
        <tbody>
          <tr>
            <th scope="row">Brand, Seller, or Collection Name</th>
            <td>{{ watch.brand }}</td>
          </tr>
          <tr>
            <th scope="row">Model number</th>
            <td>{{ watch.model }}</td>
          </tr>
          <tr>
            <th scope="row">Movement</th>
            <td>{{ watch.movement }}</td>
          </tr>
          <tr>
            <th scope="row">Item Shape</th>
            <td>{{ watch.shape }}</td>
          </tr>
          <tr>
            <th scope="row">Display Type</th>
            <td>{{ watch.display }}</td>
          </tr>
          <tr>
            <th scope="row">Band color</th>
            <td>{{ watch.color }}</td>
          </tr>
          <tr>
            <th scope="row">Band Material</th>
            <td>{{ watch.material }}</td>
          </tr>
          <tr>
            <th scope="row">Band width</th>
            <td>{{ watch.width }}</td>
          </tr>
          <tr>
            <th scope="row">Water resistant depth</th>
            <td>{{ watch.water }}</td>
          </tr>
          <tr>
            <th scope="row">Year</th>
            <td>{{ watch.year }}</td>
          </tr>
          <tr>
            <th scope="row">Size</th>
            <td>{{ watch.size }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
